@tailwind base;
@tailwind components;
@tailwind utilities;

/* Calendar style */
.react-calendar {
  border: none !important;

  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: space-between;

    .react-calendar__month-view__weekdays__weekday {
      padding-bottom: 20px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 115%;
    }

    abbr:where([title]) {
      text-decoration: none;
    }
  }

  .react-calendar__tile {
    width: 48px;
    height: 48px;
    border-radius: 10px;
  }

  .react-calendar__navigation {
    display: flex;
    column-gap: 20px;
    width: fit-content;
    align-items: center;
    margin-bottom: 8px;
    margin-left: 4px;

    .react-calendar__navigation__label {
      font-size: 18px;
      border: none;
      font-weight: 500;
      line-height: 100%;
      background-color: #fff;
    }

    .react-calendar__navigation__arrow {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .react-calendar__navigation button {
    min-width: 0px !important;
  }

  .react-calendar__tile {
    padding: 0;
    padding-left: 3.5px;
    padding-right: 3.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    abbr {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      background: rgba(238, 238, 238, 1);
      border-radius: 9999px;
      height: 43px !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  .react-calendar__tile--active {
    abbr {
      background: rgba(13, 152, 0, 0.5);
    }
  }

  .react-calendar__tile--read {
    background-color: transparent !important;
    abbr {
      background: rgba(13, 152, 0, 0.5);
    }
  }

  .react-calendar__tile:enabled:hover {
    background-color: transparent;
  }

  .react-calendar__tile:enabled:active {
    background-color: transparent;
  }

  .react-calendar__tile--now {
    background-color: transparent;
    abbr {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      border-radius: 9999px;
      height: 43px !important;
      border: 2px solid #0d9800;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }
  .react-calendar__tile--read {
    background: #64abfb;
  }

  .react-calendar__tile--now:enabled:hover {
    background: #a7d2ff;
  }

  .react-calendar__tile--read:enabled:hover {
    background: #0276f9;
  }
}

/* DatePicker style */
.react-datepicker-wrapper {
  flex-grow: 1;
  border: 1px solid black !important;
  border-radius: 0.375rem;
  height: 100%;

  .react-datepicker__input-container {
    flex-grow: 1;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}

.meditation-datepicker {
  .react-datepicker-popper {
    left: -8% !important;

    .react-datepicker__triangle {
      display: none !important;
    }
  }
}

.react-datepicker-popper {
  left: 20% !important;

  .react-datepicker__triangle {
    display: none !important;
  }
}

/* Font */
body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 14px; /* 0.875rem */
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  word-break: keep-all;
}

/* Prevent drag */
* {
  @apply select-none;
}
